body{
    background-color: #D7C0E3   ;
}
/*Testo*/
footer#Password{
    position: absolute;
    left: 700px ;
    bottom: 0px;
}
button#Submit{
    position: absolute;
    left: 175px;
    bottom: 0px;
}
footer#Epilettico{
    position: absolute;
    left:100px;
    bottom:0px;
    font-size: 30px;
}
footer#Discord{
    position: absolute;
    left:0px;
    bottom:0px;
    font-size: 30px;
}
h1#Work-In-Progress{
    font-style: italic;
    position: absolute; 
    margin: 0px;
    right: 820px;  
    text-decoration-line: overline;
}
h1#Titolo{
    font-style: italic;
    position: absolute; 
    margin: 0px;
    right: 820px;  
    text-decoration-line: overline;

}
/*tabella*/
table {
    border-collapse:collapse
    }
    td, th {
    border:1px solid rgb(252, 0, 0);
    padding:8px;
    }
/*link*/
a#aNoel{
    text-emphasis:initial;
    text-decoration-line: none;
    color: green;
}
a{
    text-decoration-line: none;
    color: darkmagenta;

}
a#Clicca-qui{
    position: Absolute;
    top: 275px;
}
a#Clicca-qui-felt{
    position: Absolute;
    top: 375px;
}
a#Clicca-qui-C-18{
    position: Absolute;
    top: 775px;
}
a#Clicca-qui-Leafa{
    position: Absolute;
    top: 525px;
}
img#Logo{
    position: Absolute;
    left:10%;
    top: 10%;

}
/*Bottoni*/
button#E{
    position: absolute;
    width: 200px;
    height: 200px;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    top: 50%;
    left:50%;
    border-radius: 100%;
    background-image: url("https://coub-anubis-a.akamaized.net/coub_storage/channel/cw_avatar/59088ba5c6d/31c3c7fb42a042f93ffdf/profile_pic_big_1607702768_1cm6p87_1528040096_42432040409201614.jpg");
}
/*
button#N{
    position: Absolute;
    top: 250px;

}
button#T{
    position: Absolute;
    top: 275px;

}
button#A{

    position: Absolute;
    top: 300px;
}
button#I{

    position: Absolute;
    top: 325px; 
}
*/
button#Rem{
    position: Absolute;
    top: 200px;
}
button#Ram{
    position: Absolute;
    top: 225px;
}
button#Emilia{
    position: Absolute;
    top: 250px;
}
button#Felix-Argyle{
    position: Absolute;
    top: 275px;
}
button#Felt{
    position: Absolute;
    top: 300px;
}
button#Theresia-Van-Astrea{
    position: Absolute;
    top: 325px;
}
/*div*/
div#Descrizione{
    position: Absolute;
    top: 200px;
}
footer#minigame{
    position: Absolute;
    bottom: 0px;
    left: 415px;
}
button#easy{
    color: chartreuse;
    position: absolute;
    text-align: start;
    /*top: 0px;*/
    font-size: 50px;
}
button#normal{
    position: absolute;
    top: 270px;
    text-align: center;
    color: coral;
    /*
    top: 75px;*/
    font-size: 50px;
}
button#hard{
    color: crimson;
    position: absolute;
    text-align: end;
    /*top:150px;*/
    top: 540px;
    font-size: 50px;
    
}
button#creative{
    color: darkmagenta;
    position: absolute;
    top: 810px;
    font-size: 50px;
    
}
footer#Avvertimento{
    color: rgb(252, 227, 0);
    
}